In [38]:
"""1.What are data structures, and why are they important?
 -> Data structures are organized ways of storing and managing data so it can be accessed and modified efficiently. It also helps in organizing, storing, and managing data in a computer's memory.

2. Explain the difference between mutable and immutable data types with examples.
-> Mutable data types can be modified after creation without creating a new object (e.g., list, dictionary, set).Immutable data types cannot be changed once created. Any modification creates a new object in memory(e.g., int, float, str, tuple).

3. What are the main differences between lists and tuples in Python?
-> Mutability:Lists allow modifications such as adding, removing, or changing elements at any time.Tuples remain fixed once defined; you cannot alter their contents or size.​
Syntax: Lists use square brackets: [1, 2, 3].​Tuples use parentheses: (1, 2, 3).​
Performance and Memory: Lists are slower and consume more memory because they are dynamic and flexible.​Tuples are faster and more memory efficient due to their immutability and fixed size.

4. Describe how dictionaries store data.
-> Dictionary use key value pairs to store data.Each key is hashed to generate an index where the corresponding value is stored.

5. Why might you use a set instead of a list in Python?
-> Sets automatically remove duplicate items, ensuring all elements are unique, whereas lists can contain duplicates.​
Set elements are unordered, so their positions are not preserved, while lists maintain element order.​

6. What is a string in Python, and how is it different from a list?
-> A string is an immutable sequence of characters used to represent text.
Unlike lists:
Strings are immutable; lists are mutable.
Strings contain only characters; lists can hold any data type.

7. How do tuples ensure data integrity in Python?
-> Tuples are immutable, so their values cannot be changed, ensuring the stored data remains constant.Once created, their elements cannot be modified, added, or removed.

8. What is a hash table, and how does it relate to dictionaries in Python?
-> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables. When you insert a key-value pair, Python computes a hash of the key to determine where to store the value in memory.

9. Can lists contain different data types in Python?
-> Yes, Python lists can contain elements of different data types in the same list.
Ex: [1, "hello", 3.14, True, [1, 2]] is a valid list containing an integer, string, float, boolean, and another list.

10.  Explain why strings are immutable in Python.
-> Strings are immutable in Python because once created, their value cannot be changed in memory. This design improves performance and makes strings safe to use as keys in dictionaries. If you try to modify a string, Python actually creates a new one instead.

11. What advantages do dictionaries offer over lists for certain tasks?
-> Dictionaries offer faster data access because they store values using keys instead of positions. They’re ideal when you need to look up, add, or modify data quickly based on a unique key. They also help organize data in a key–value format, making it easier to understand and manage.

12. Describe a scenario where using a tuple would be preferable over a list.
-> Using a tuple is preferable when you want to store data that should not change, such as a person’s date of birth, id, or name. Tuples protect the data from being accidentally modified, ensuring it stays constant.

13. How do sets handle duplicate values in Python?
-> Sets automatically remove duplicates and store only unique items. When you add an element that already exists in the set, the operation is ignored, and the set remains unchanged.

14. How does the “in” keyword work differently for lists and dictionaries?
-> The “in” keyword checks whether a value exists in a list by searching through its elements. But in a dictionary, “in” checks for keys.

15. Can you modify the elements of a tuple? Explain why or why not.
-> No, you cannot modify the elements of a tuple because tuples are immutable. This means their content is fixed once created, so you cannot change, add, or remove items. This immutability helps protect data that should stay constant.

16. What is a nested dictionary, and give an example of its use case?
-> A nested dictionary is a dictionary that contains another dictionary inside it as a value.
It helps store structured or grouped data in a clean way.

Use case:
Student details :
Code =
students = {
    "101": {"name": "Rahul", "age": 20, "course": "CSE"},
    "102": {"name": "Anita", "age": 21, "course": "ECE"}
}

17. Describe the time complexity of accessing elements in a dictionary.
-> Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hashing to find keys quickly.

18. In what situations are lists preferred over dictionaries?
-> Lists are preferred when:
Order matters and you need to maintain sequence
You need to access elements by numeric index
You need to store duplicate values
You need to perform operations like sorting or slicing.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-> In older versions of Python (before Python 3.7), dictionaries were considered unordered because they did not preserve the order in which key–value pairs were inserted. Their internal hashing mechanism stored items in unpredictable positions.
In Python 3.7 and later, dictionaries maintain insertion order, but they are still accessed by key, not by index. So even though order is preserved now, you still cannot retrieve items by position—only through their keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
-> List: Data is retrieved using an index number (position).
Example: my_list[2] gets the 3rd item.
Dictionary: Data is retrieved using a key (not a position).
Example: my_dict["name"] gets the value for the key "name"."""

'1.What are data structures, and why are they important?\n -> Data structures are organized ways of storing and managing data so it can be accessed and modified efficiently. It also helps in organizing, storing, and managing data in a computer\'s memory.\n\n2. Explain the difference between mutable and immutable data types with examples.\n-> Mutable data types can be modified after creation without creating a new object (e.g., list, dictionary, set).Immutable data types cannot be changed once created. Any modification creates a new object in memory(e.g., int, float, str, tuple).\n\n3. What are the main differences between lists and tuples in Python?\n-> Mutability:Lists allow modifications such as adding, removing, or changing elements at any time.Tuples remain fixed once defined; you cannot alter their contents or size.\u200b\nSyntax: Lists use square brackets: [1, 2, 3].\u200bTuples use parentheses: (1, 2, 3).\u200b\nPerformance and Memory: Lists are slower and consume more memory because they are dynamic and flexible.\u200bTuples are faster and more memory efficient due to their immutability and fixed size.\n\n4. Describe how dictionaries store data.\n-> Dictionary use key value pairs to store data.Each key is hashed to generate an index where the corresponding value is stored.\n\n5. Why might you use a set instead of a list in Python?\n-> Sets automatically remove duplicate items, ensuring all elements are unique, whereas lists can contain duplicates.\u200b\nSet elements are unordered, so their positions are not preserved, while lists maintain element order.\u200b\n\n6. What is a string in Python, and how is it different from a list?\n-> A string is an immutable sequence of characters used to represent text.\nUnlike lists:\nStrings are immutable; lists are mutable.\nStrings contain only characters; lists can hold any data type.\n\n7. How do tuples ensure data integrity in Python?\n-> Tuples are immutable, so their values cannot be changed, ensuring the stored data remains constant.Once created, their elements cannot be modified, added, or removed.\n\n8. What is a hash table, and how does it relate to dictionaries in Python?\n-> A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented as hash tables. When you insert a key-value pair, Python computes a hash of the key to determine where to store the value in memory.\n\n9. Can lists contain different data types in Python?\n-> Yes, Python lists can contain elements of different data types in the same list.\nEx: [1, "hello", 3.14, True, [1, 2]] is a valid list containing an integer, string, float, boolean, and another list.\n\n10.  Explain why strings are immutable in Python.\n-> Strings are immutable in Python because once created, their value cannot be changed in memory. This design improves performance and makes strings safe to use as keys in dictionaries. If you try to modify a string, Python actually creates a new one instead.\n\n11. What advantages do dictionaries offer over lists for certain tasks?\n-> Dictionaries offer faster data access because they store values using keys instead of positions. They’re ideal when you need to look up, add, or modify data quickly based on a unique key. They also help organize data in a key–value format, making it easier to understand and manage.\n\n12. Describe a scenario where using a tuple would be preferable over a list.\n-> Using a tuple is preferable when you want to store data that should not change, such as a person’s date of birth, id, or name. Tuples protect the data from being accidentally modified, ensuring it stays constant.\n\n13. How do sets handle duplicate values in Python?\n-> Sets automatically remove duplicates and store only unique items. When you add an element that already exists in the set, the operation is ignored, and the set remains unchanged.\n\n14. How does the “in” keyword work differently for lists and dictionaries?\n-> The “in” keyword checks whether a value exists in a list by searching through its elements. But in a dictionary, “in” checks for keys.\n\n15. Can you modify the elements of a tuple? Explain why or why not.\n-> No, you cannot modify the elements of a tuple because tuples are immutable. This means their content is fixed once created, so you cannot change, add, or remove items. This immutability helps protect data that should stay constant.\n\n16. What is a nested dictionary, and give an example of its use case?\n-> A nested dictionary is a dictionary that contains another dictionary inside it as a value.\nIt helps store structured or grouped data in a clean way.\n\nUse case:\nStudent details :\nCode =\nstudents = {\n    "101": {"name": "Rahul", "age": 20, "course": "CSE"},\n    "102": {"name": "Anita", "age": 21, "course": "ECE"}\n}\n\n17. Describe the time complexity of accessing elements in a dictionary.\n-> Accessing elements in a dictionary has an average time complexity of O(1) because dictionaries use hashing to find keys quickly.\n\n18. In what situations are lists preferred over dictionaries?\n-> Lists are preferred when:\nOrder matters and you need to maintain sequence\nYou need to access elements by numeric index\nYou need to store duplicate values\nYou need to perform operations like sorting or slicing.\n\n19. Why are dictionaries considered unordered, and how does that affect data retrieval?\n-> In older versions of Python (before Python 3.7), dictionaries were considered unordered because they did not preserve the order in which key–value pairs were inserted. Their internal hashing mechanism stored items in unpredictable positions.\nIn Python 3.7 and later, dictionaries maintain insertion order, but they are still accessed by key, not by index. So even though order is preserved now, you still cannot retrieve items by position—only through their keys.\n\n20. Explain the difference between a list and a dictionary in terms of data retrieval.\n-> List: Data is retrieved using an index number (position).\nExample: my_list[2] gets the 3rd item.\nDictionary: Data is retrieved using a key (not a position).\nExample: my_dict["name"] gets the value for the key "name".'

In [ ]:
# 1. Write a code to create a string with your name and print it.
name = "Chandan"
print(name)

Chandan

In [ ]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print(length)

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
lst = [1, 2, 3, 4, 5]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_lst = [10, 20, 30, 40, 50]
print(my_lst[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple [-2]

'blue'

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tup = (10, 20, 5, 15)
min = min(my_tup)
print(min)

5

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
t.index("cat")

1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'orange')
kiwi_present = 'kiwi' in fruits
print(kiwi_present)

False

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_s = {1, 2, 3, 4}
my_s.remove(4)
print(my_s)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {2, 3, 4}
intersection_set = s1.intersection(s2)
print(intersection_set)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {
    "name": "Chandan",
    "age": 23,
    "city": "Jhunjhunu"
}
print(my_dict)

{'name': 'Chandan', 'age': 23, 'city': 'Jhunjhunu'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {'name': 'John', 'age': 25}
dic['country'] = 'USA'
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dic['age']
print(my_dic)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dicty = {'name': 'Alice', 'city': 'Paris'}
exists = 'city' in dicty
print(exists)

True

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
lst_1 = [1, 2, 3]
t_1 = (4, 5, 6)
d_1 = {"a": 10, "b": 20}
print(lst_1, t_1, d_1)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
random_numbers = [random.randint(1, 100) for i in range(5)]
print("Original list:", random_numbers)
random_numbers.sort()
print("Sorted list:", random_numbers)

Original list: [83, 9, 88, 24, 88]
Sorted list: [9, 24, 83, 88, 88]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
third_index_element = string_list[3]
print(third_index_element)

date

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
string_list = ['apple', 'banana', 'apple', 'orange', 'banana', 'grape']
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'orange', 'grape'}