1. Write a Python program to print "Hello, World!"

In [2]:
print("Hello, World!")

Hello, World!

2. Write a Python program that displays your name and age.

In [3]:
name = "Chandan"
age = 23
print("Name:", name)
print("Age:", age)

Name: Chandan
Age: 23

3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4. Write a program that checks if a given word is a Python keyword.

In [7]:
import keyword
word = input("Enter a word to check: ")
if keyword.iskeyword(word):
  print(f"'{word}' is a Python keyword.")
else:
  print(f"'{word}' is not a Python keyword.")

Enter a word to check: iss
'iss' is not a Python keyword.

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [9]:
# Creating a tuple
my_list = [1, 2, 3, 4, 5]
print("Original List:", my_list)
my_list[2] = 10
print("Modified List:", my_list)

# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)
print("\nOriginal Tuple:", my_tuple)

# Attempting to modify tuple element (will raise an error)
try:
  my_tuple[2] = 10
except TypeError as e:
  print(f"Error: {e}")
  print("Tuples are immutable and cannot be modified.")

Original List: [1, 2, 3, 4, 5]
Modified List: [1, 2, 10, 4, 5]

Original Tuple: (1, 2, 3, 4, 5)
Error: 'tuple' object does not support item assignment
Tuples are immutable and cannot be modified.

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [12]:
def modify_list(lst):
    lst.append(4)

def modify_number(n):
    n += 10

a = [1, 2, 3]
b = 5

modify_list(a)
modify_number(b)
# 4 will be added to the list that shows mutability
print("List after function:", a)
#number n will be same that shows immutability
print("Number after function:", b)

List after function: [1, 2, 3, 4]
Number after function: 5

7.  Write a program that performs basic arithmetic operations on two user-input numbers.

In [13]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum:", a + b)

Enter first number: 3
Enter second number: 4
Sum: 7

 8.Write a program to demonstrate the use of logical operators.

In [14]:
x = 10
y = 5

print(x > 5 and y < 10)
print(x > 5 or y > 10)
print(not(x < y))

True
True
True

9. Write a Python program to convert user input from string to integer, float, and boolean types.

In [15]:
val = input("Enter a value: ")

print("Integer:", int(val))
print("Float:", float(val))
print("Boolean:", bool(val))

Enter a value: 3
Integer: 3
Float: 3.0
Boolean: True

10. Write code to demonstrate type casting with list elements.

In [16]:
nums = ["1", "2", "3"]
nums = list(map(int, nums))
print(nums)

[1, 2, 3]

11. Write a program that checks if a number is positive, negative, or zero.

In [18]:
number = int(input("Enter a number: "))

if number > 0:
  print(f"{number} is positive.")
elif number < 0:
  print(f"{number} is negative.")
else:
  print("The number is zero.")

Enter a number: 4
4 is positive.

12. Write a for loop to print numbers from 1 to 10.

In [19]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [20]:
sum = 0
for i in range(1, 51):
    if i % 2 == 0:
        sum += i
print("Sum of even numbers:", sum)

Sum of even numbers: 650

 14. Write a program to reverse a string using a while loop.

In [21]:
text = input("Enter a string: ")
i = len(text) - 1

rev = ""
while i >= 0:
    rev += text[i]
    i -= 1

print("Reversed:", rev)

Enter a string: 12345678
Reversed: 87654321

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [22]:
num = int(input("Enter a number: "))
fact = 1
i = 1

while i <= num:
    fact *= i
    i += 1

print("Factorial =", fact)

Enter a number: 4
Factorial = 24